body
{
    overflow-x: hidden;
}


.arrow-up
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #D70143;
    color:#D70143;
    font-size: 1.2rem;
    font-weight: 100;
    transition: 1s;
    display: none;
}
.arrow-up:focus
{
    outline: none;
    border: inherit;
}

.arrow-up:hover
{
    color:#D70143;
    transform: scale(1.1);
    font-size: 1.3rem;
}
/* ###################################################### NavBar BEGIN ######################################################*/

.my-nav
{
  width: 100%;
  background:  linear-gradient(90deg, rgb(213, 51, 42 , .5) 0%, rgb(48, 57, 96 , .5) 100% );
  z-index: 5;
}
.searchButton
{
  border: none;
  background-color: transparent;
}

.searchButton:focus
{

  background-color: transparent;
}
.form-control:focus 
{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-inline
{
  position: relative;
}
.form-inline::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: .5px;
  background-color: white;

}
input
{
  color: white !important;
}
input:focus
{
  opacity: 70%;
}
::placeholder
{
  color: white !important;
}
.shopping-icon
{
  font-size: 23px;
  color: white;
}
.shopping-icon:hover
{
  opacity: 60%;
}
.sign-icon
{
  margin-right:3rem;
  font-size: 23px;
  color: white;
}
.sign-icon:hover
{
  opacity: 60%;
}
.dropdown
{
  margin-right: 1.5rem;
}
.dropdown .nav-link
{
  
  color: #f2f2f2!important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  position: relative;
}
.dropdown .nav-link::after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width:0;
  height: 2px;
  background-color:linear-gradient(90deg, rgb(213, 51, 42) 0%, rgb(48, 57, 96) 100% ); 
  transition: all 1s ;
}
.dropdown .nav-link:hover::after
{
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
}

/* Toggle */
.navbar-toggler
{
  border:none;
  /* box-shadow:1px 1px 5px black; */
  color: white !important;

}

.navbar-toggler span
{
 color: white !important;
}
.navbar-toggler:focus
{
  outline: none;
}
.times
{
  font-size: 2rem;
  transition: all .4s;
  color: black;
}
.times:hover
{
  font-size: 2rem;
  transform: rotate(360deg)
}

/* Collapse */

@media (max-width: 990px)
{
  .logo , .dropdown-item , .form-inline ,.dropdown-menu
  {
    display: none !important;
  }
  .dropdown
  {
    margin-top: 1rem;
  }
  .video-img i {

    padding: .7rem !important;
    font-size: 1rem !important;

  }  
}

.slider-layout 
{
  position: relative;
  transition: all 1s;
}
.slider-layout:hover 
{
  box-shadow: 0 14px 28px rgb(213, 51, 42 , .4), 0 10px 10px rgb(48, 57, 96 , .4);
}
.slider-layout:hover .drag-layer
{
  opacity: 0;
}
.drag-layer
{
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  background:linear-gradient(90deg, rgb(213, 51, 42 , .7) 0%, rgb(48, 57, 96 , .7) 100% ) ;
  opacity: .8;
  transition: all 1s;
}

/* ###################################################### NavBar END ######################################################*/


/* ###################################################### upper section ######################################################*/

.text-content 
{
    width: 100%;
    height: 80vh;
    margin: 5rem 0px 2rem 3rem;
    background-color: #dca3a3;
    padding: 6rem 0px 1rem 3rem;
    color: white;
    position: relative;
}

.right span
{
    font-size: 0.9rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
   
}

.right h2
{
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Bellota', cursive;

}

.right p
{
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1rem;
    color: #e6e6e6;
    padding-top: 1rem;
}

.collection-img
{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: -23%;
    right: 0;
    background-image: url("../img/all-prodect/img-heading/hrading1.jpg");
    background-position: center center;
    background-size: cover;
    animation: imgChange 12s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes imgChange
{
    0%
    {
        background-image: url("../img/all-prodect/img-heading/hrading1.jpg"); 
    }
    20%
    {
        background-image: url("../img/all-prodect/img-heading/heading2.jpg"); 
    }
    40%
    {
        background-image: url("../img/all-prodect/img-heading/heading3.jpg"); 
    }
    60%
    {
        background-image: url("../img/all-prodect/img-heading/heading4.jpg"); 
    }
    80%
    {
        background-image: url("../img/all-prodect/img-heading/heading5.jpg"); 
    }
    100%
    {
        background-image: url("../img/all-prodect/img-heading/heading5.jpg"); 
    }
}

@media (max-width: 800px)
{
    .collection-img
    {
        width: 40%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0px;
    }

    .right h2
    {
        font-size: 1.7rem;
    }
    .right p
    {
        font-size: 0.9rem;
    }
    .text-content 
    {
        padding: 3rem 1rem;
    }

}

@media (max-width: 580px)
{
    .right p
        {
            line-height: 1.6rem;
            font-size: 0.9rem;
            padding-top: 0.6rem;
        }
    .right h2
        {
            font-size: 1.1rem;
            margin-top: 1rem;
        }

}

.arrow-down
{
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
}

/*=========================================end of first section==================================*/
 .show-prodect
{
    margin-top: 10rem;
}
.prodect-menu
{
    overflow: auto;
    margin-top: 2rem;

}

.prodect-menu ul
{
    list-style-type: none;
}

.prodect-menu ul li
{
    float: left;
    margin: 1rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: 0.056rem;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 1s;
}


.prodect-menu ul li:hover
{
    border: 1px solid #333333;
    background-color: #dca3a3;
    color: white;
}

.prodect-menu .active
{
    border: 1px solid #333333;
    background-color: #dca3a3;
    color: white;
}
.prodect
{
    position: relative;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.prodect-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 1rem;
    font-size: 1.3rem;
    padding-right: 0.5rem;
   
}

.prodect-icon i 
{
    cursor: pointer;
    transition: 2s;
    opacity: 0;
}

.prodect-icon i:hover
{
    transform: scale(1.1);
    color: #dca3a3;
}

.prodect-head:hover .prodect-icon i 
{
    opacity: 1;
}

.prodect-body p
{
    font-size: 0.83rem;
    padding: 0.3rem;
    margin-top: 0.4rem;
}
.prodect-body span
{
    color: #999;
    line-height: 18px;
    font-size: 13px;
}

.prodect-head
{
    overflow: hidden;
}

.prodect-head img
{
    height: 22rem;
    transition: 1s;
    cursor: pointer;
}

.prodect-head img:hover
{
    transform: scale(1.3);
}

/*==============================================*/

.card-layout
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 55;
    display: none ;
    overflow: scroll;

}

.anthor-page a
{
   background-color: #dca3a3 !important;
   color: white;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-family: 'Open Sans Condensed', sans-serif;
   transition: 1s;
}


.card-layout h1
{
    color: white;
    font-size: 1.5rem;
    margin: 1.5rem;
    font-family: 'Bellota', cursive;
}

.card-layout .close
{
    font-size: 1.3rem;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


.quick-view
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 60;
    display: none;
}

.quick-view .close-tap
{
    font-size: 1.3rem;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
   
}

.img-corner
{
    background-image: url("../img/all-prodect/shoes/4.webp");
    background-size: contain;
    background-position: center center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.cartona
{
    height: 75vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.text-detailes p
{
    font-size: 1.2rem;
    font-family: 'Bellota', cursive;
    padding: 0.3rem;
    margin-top: 0.4rem;
    margin: 1rem;
}
.text-detailes span
{
    color: #999;
    line-height: 18px;
    font-size: 13px;
    margin: 1rem;
}

.text-detailes a
{
    margin: 1rem;
    margin-top: 2rem;
    padding: 0.6rem 0.3rem;
    background-color: #dca3a3 !important;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: white;
    font-family: 'Bellota', cursive;

}

.text-detailes a:hover
{
    color: white;
}

.text-detailes h5
{
    font-size: 1.3rem;
    font-family: 'Bellota', cursive;
    padding: 0.3rem;
    margin-top: 0.4rem;
    margin: 1rem;
}

.text-detailes ul li
{
    color: #999;
    line-height: 18px;
    font-size: 13px;
    margin: 1rem;
}

@media (max-width: 800px)
{
    .prodect-menu ul li
    {
        float: left;
        margin: 0.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.026rem;
        padding: 0.4rem 0.7rem;
       
    }
}

@media (max-width: 580px)
{
    .prodect-head img
    {
        width: 100%;
    }
}









/*==============================start of footer==============================*/

footer
{
   
    background-image: url(../img/heros3.jpg);
    background-position: center center;
    background-size: 100% 100%;
}

.upper
{
    padding: 2rem;
}

.upper input
{
    background: rgba(0,0,0,0);
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(255,255,255,0.34);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    width: 20%;
    margin-top: 2rem;
}
.upper input:focus
{
    outline: none;
}
.upper h2
{
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-size: 55px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 58px;
    letter-spacing: 0px;

}

.border-submit button
{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    transition: 1s;
}

.border-submit button:hover
{
    padding: 0.5rem 1.5rem;
    border: 3px solid #D70143;

}

.divition h2
{
    color: #D70143;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 0px;
    padding-left: 2.7rem;
    padding-top: 1rem;
}

.divition ul
{
  list-style-type: none;
}

.divition ul li
{
    color: #cfcfcf;
    text-decoration: none;
    margin: 10px 0 25px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    transition: 1s;
}

.divition ul li:hover
{
    color: #D70143;
    padding-left: 1rem;
}

.divition
{
    transition: 2s;
}

.divition:hover
{
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.8)
}



.footer-icon i
{
    padding: 16px;
    line-height: 0;
    margin: 0 7px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #fff;
    transition: .3s border;
    color: #fff !important;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 3rem;

}

.footer-icon i:hover
{
    border: 1px solid #D70143;
}


.end-footer 
{
    padding: 1rem;
    background-color: #000;
    
}
.left-end-footer ul
{
  list-style-type: none;

}

.end-footer p
{
    color: #ffffff;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    margin: 10px;
    padding: 5px 0px 5px 0px;
}

.end-footer p span
{
    cursor: pointer;
    transition: 1s;
}

.end-footer p span:hover
{
   color: #D70143;
}


.left-end-footer ul li
{
    float: left;
    margin: 10px;
    padding: 5px 0px 5px 0px;
    color: #ffffff;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    transition: 1s;
}
.left-end-footer ul li:hover
{
    color: #D70143;
}


/*-----------------------------end of footer------------------------------------*/